<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springdemo.springdemo.mapper.UserMapper">

    <resultMap id="userMap" type="com.example.springdemo.springdemo.domain.User">
        <result column="name" property="name"/>
        <result column="age" property="age"/>
    </resultMap>
    
    <insert id="addUser" parameterType="map">
        insert into user_info (name,age) values(#{name},#{age})
    </insert>

    <select id="queryAllUser" resultMap="userMap">
        select name,age from user_info
    </select>

    <select id="queryAllUserMap" resultType="map">
        select name as "map_key",age as "map_value" from user_info
    </select>
    
    
    <insert id="insertIntoLoginInfo" parameterType="com.example.springdemo.springdemo.selenium.LoginInfoDto">
        insert into login_info (login_name,password) values (#{loginName},#{password})
    </insert>
    
    <insert id="insertIntoThumbsUpRecord" parameterType="com.example.springdemo.springdemo.selenium.ThumbsUpRecordDto">
        insert into thumbs_up_record (url,phones,user_name) values (#{url},#{phones},#{userName})
    </insert>

    <update id="updateIntoThumbsUpRecord" parameterType="com.example.springdemo.springdemo.selenium.ThumbsUpRecordDto">
        UPDATE thumbs_up_record set phones = #{phones}
        <where>
            <if test="url != null and url !=''">
                url = #{url}
            </if>
            <if test="userName != null and userName !=''">
                and user_name = #{userName}
            </if>
        </where>

    </update>

    <select id="selectAllPhones" resultType="String">
        select login_name from login_info
    </select>

    <select id="selectExitPhone" resultType="String" parameterType="String">
        select phones from thumbs_up_record where url = #{url}
    </select>

    <select id="selectExitPhoneAndName" resultType="String" parameterType="String">
        select phones from thumbs_up_record where url = #{url} and user_name = #{userName}
    </select>

    
</mapper>
